utils
kerberos==1.1.1
tornado==6.3.2
boto3
pandas
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
matplotlib
sklearn
nltk
textblob
seaborn
findspark
sparkmagic
six
pyspark_dist_explore
IPython
tensorflow
keras
scikit-image
opencv-python
Image
pandas-profiling==1.4.1
statsmodels
flask
h5py